<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %} 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit</title>
     <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/edit/" method="post">
    <p><input type="hidden" name='book_id' value="{{editbook.nid}}"></p>
    <p>书名<input type="text" name='title' value="{{editbook.title}}"></p>
    <p>作者<input type="text" name='author' value="{{editbook.author}}"></p>
    <p>出版日期<input type="date" name='date' value="{{edit_book.publishDate|date:'Y-m-d'}}"></p>
    <p>价格<input type="text" name='price' value="{{editbook.price}}"></p>
    <p><input type="submit"></p>
</form>
</body>
</html>